:root {
  --shadow-sm: 0px 1px 4px rgba(126, 140, 168, 0.1);
  --shadow-md: 0px 2px 8px rgba(0, 0, 0, 0.15);
  --shadow-lg: 0px 4px 24px rgba(0, 0, 0, 0.1);
}

.dark {
  --shadow-sm: 0px 1px 4px rgb(0, 0, 0);
  --shadow-md: 0px 2px 8px rgba(0, 0, 0, 1);
  --shadow-lg: 0px 4px 24px rgba(0, 0, 0, 1);
}
